#typing {
    
    &:after {
      content: '';
      border-right: 1px solid;
      animation: flashing 0.4s linear infinite;
    }
  }
  
  @keyframes flashing {
    0% {
      opacity: 0;
    }
  }

  // スライド
  .outer{
    text-align:center;
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    .outer {
      margin-bottom: 20px;
    }
  }
  .text {
    display:inline-block;
    position:relative;
  }
  .text:not(.loading)::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: hsl(210, 100%, 60%);
    animation-name: in, out;
    animation-duration: .5s;
    animation-delay: 0s, .5s;
    animation-timing-function: cubic-bezier(.75, 0, .2, 1);
    animation-fill-mode: backwards, forwards;
  }
  .inner {
    animation-name: show;
    animation-duration: 1s;
    padding:10px;
  }
  @keyframes in {
    0% {
      transform-origin: 0 0;
      transform: scale3d(0, 1, 1);
    }
    100% {
      transform-origin: 0 0;
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes out {
    0% {
      transform-origin: 100% 0;
      transform: scale3d(1, 1, 1);
    }
    100% {
      transform-origin: 100% 0;
      transform: scale3d(0, 1, 1);
    }
  }
  @keyframes show {
    0%, 50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  .text1 {
    display:inline-block;
    position:relative;
  }
  .text1:not(.loading1)::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: hsl(210, 100%, 60%);
    animation-name: in, out;
    animation-duration: .5s;
    animation-delay: 0s, .5s;
    animation-timing-function: cubic-bezier(.75, 0, .2, 1);
    animation-fill-mode: backwards, forwards;
  }